<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CPS Coach Pro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
</head>
<body>
<header class="feature-box top">
  <nav>
    <ul>
      <button onclick="location.href='/clearsession'" type="button" class="btnClear">
        Clear 
      </button>
    <li><a href="/">Space</a></li>
    <li><a href="/ball">Ball</a></li>
    <li><a href="/download">Download</a></li>
    <!-- <li><a href="/webcam">LiveWebcam</a></li> -->
    <img src="static/images/TransparentCircleLogo.png" class="schlogo">
    </ul>
</nav>
  

</header>
<!-- <header class="feature-box second">
     <h1><strong>Output Video</strong></h1>
</header> -->

<section class="col-md " >
          <img src="{{ url_for('videoball') }}"   alt="Upload video">

  </section>
<section>
    <div class="new" >
      <form method = 'POST' enctype="multipart/form-data" class="video-form">
        {{form.hidden_tag()}}
        {{form.file(class_="custom-file-input")}}

        

    
          <button type="submit" name="favorite" value="x" class="btnSubmit">
            Submit
        </button>
      
      </form>
    </div>

  </div>
    </section>
    <script>
      let resetBtn = document.getElementById('resetBtn')
      resetBtn.addEventListener("click", reset);

function reset() {
  sessionStorage.clear();
  console.log('reset button pressed')
}
    </script>

</body>
</html>